node-red assisstant/node_red flow.json
[{"id":"dc840395.17f17","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"120d1494.a847cb","type":"function","z":"dc840395.17f17","name":"","func":"msg.payload = msg.payload.txt;\nreturn msg\n\n\n","outputs":1,"noerr":0,"x":230,"y":140,"wires":[["f4b4de32.5de4","cb207d51.89156"]]},{"id":"cb207d51.89156","type":"watson-conversation-v1","z":"dc840395.17f17","name":"","workspaceid":"f898bb69-d51d-4f48-ae44-b369c5169943","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/539e7377-97e0-4c31-a014-90adb6433d43","timeout":"","optout-learning":false,"x":360,"y":60,"wires":[["17b58f7c.b24261"]]},{"id":"17b58f7c.b24261","type":"function","z":"dc840395.17f17","name":"output","func":"msg.payload = msg.payload.output.text.toString();\n\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":80,"wires":[["c680608d.cf4a6","795c0772.23f318"]]},{"id":"c680608d.cf4a6","type":"ui_text","z":"dc840395.17f17","group":"3ff10015.3eeb6","order":2,"width":"6","height":"4","name":"","label":"Molly's reply : ","format":"{{msg.payload}}","layout":"col-center","x":700,"y":40,"wires":[]},{"id":"bf0b9ded.c14ed","type":"cloudant out","z":"dc840395.17f17","name":"","cloudant":"","database":"all_data","service":"node-red-legion-cloudant-1591105113035-14125","payonly":true,"operation":"insert","x":1060,"y":160,"wires":[]},{"id":"f4b4de32.5de4","type":"join","z":"dc840395.17f17","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"8","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":220,"wires":[["7b30b4f7.47005c","1fefab3f.b5bb65"]]},{"id":"335436eb.8a375a","type":"watson-personality-insights-v3","z":"dc840395.17f17","name":"","inputlang":"en","outputlang":"en","rawscores":true,"consumption":true,"service-endpoint":"https://api.eu-gb.personality-insights.watson.cloud.ibm.com/instances/d0182adf-214d-4572-9af7-fc33c304b41e","x":230,"y":360,"wires":[["a6310c14.79c0f"]]},{"id":"1fefab3f.b5bb65","type":"function","z":"dc840395.17f17","name":"","func":"m = msg.payload.toString();\nmsg.payload = m\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["335436eb.8a375a"]]},{"id":"a6310c14.79c0f","type":"function","z":"dc840395.17f17","name":"","func":"msg.payload =  msg.insights\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":820,"wires":[["233d1fc1.66131","13f77898.795e97","71b41e83.8b0f4","56ed946a.0698ec","e89e1d9f.a66b7","e449b288.0aaa7","55f979ef.d97a38","a5345629.6456b8","a11bf2e5.1f0ee","534edcc.47d6d24","8dc48e54.49c24","b54b807b.c203f","387bd602.b10caa","f7ecf2f5.c1d74","dc63b85.952ac48","d8253044.46e31","e065ba6b.2d5118","cada73e5.6af13","567094fa.481f9c","153d0114.1a138f","78a0e678.620388","6e815a06.ca9604","3da2ef71.a4113"]]},{"id":"7b30b4f7.47005c","type":"function","z":"dc840395.17f17","name":"","func":"msg.payload ={\n    'greet' : msg.payload[0],\n    'email' : msg.payload[1],\n    'ans1' : msg.payload[2],\n    'ans2' : msg.payload[3],\n    'ans3' : msg.payload[4],\n    'ans4' : msg.payload[5],\n    'ans5' : msg.payload[6],\n \n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["3da2ef71.a4113"]]},{"id":"3da2ef71.a4113","type":"join","z":"dc840395.17f17","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":200,"wires":[["877e36be.3f4878"]]},{"id":"e74099b6.b8bf78","type":"debug","z":"dc840395.17f17","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":240,"wires":[]},{"id":"795c0772.23f318","type":"watson-text-to-speech","z":"dc840395.17f17","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelV2Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"kh0ZZA7rDNLggxi0rMC5QZ0OHgiwn12yt63h2VkzokzQ","payload-response":false,"service-endpoint":"https://api.us-east.text-to-speech.watson.cloud.ibm.com/instances/e3de04f5-a44b-4178-a17f-85ba9dbe243a","x":680,"y":120,"wires":[["751487a2.5b7668"]]},{"id":"751487a2.5b7668","type":"function","z":"dc840395.17f17","name":"","func":"msg.payload = msg.speech\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":120,"wires":[["29adac87.a74d54"]]},{"id":"29adac87.a74d54","type":"play audio","z":"dc840395.17f17","name":"","voice":"0","x":1030,"y":120,"wires":[]},{"id":"7b0ce04f.f1815","type":"ui_gauge","z":"dc840395.17f17","name":"","group":"1991989a.0c79b7","order":5,"width":0,"height":0,"gtype":"wave","title":"Openness","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":380,"wires":[]},{"id":"233d1fc1.66131","type":"function","z":"dc840395.17f17","name":"","func":"var m = msg.payload.personality[0].raw_score\nm = m*100\nmsg.payload = m\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":380,"wires":[["7b0ce04f.f1815"]]},{"id":"13f77898.795e97","type":"function","z":"dc840395.17f17","name":"","func":"var m = msg.payload.personality[1].raw_score\nm = m*100\nmsg.payload = m\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":420,"wires":[["9e7c1b11.1cdcb8"]]},{"id":"71b41e83.8b0f4","type":"function","z":"dc840395.17f17","name":"","func":"var m = msg.payload.personality[2].raw_score\nm = m*100\nmsg.payload = m\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":460,"wires":[["7893ef8e.47df"]]},{"id":"56ed946a.0698ec","type":"function","z":"dc840395.17f17","name":"","func":"var m = msg.payload.personality[3].raw_score\nm = m*100\nmsg.payload = m\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":500,"wires":[["e199b8e3.466c18"]]},{"id":"e89e1d9f.a66b7","type":"function","z":"dc840395.17f17","name":"","func":"var m = msg.payload.personality[4].raw_score\nm = m*100\nmsg.payload = m\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":540,"wires":[["462723bf.1449ac"]]},{"id":"7893ef8e.47df","type":"ui_gauge","z":"dc840395.17f17","name":"","group":"6c566789.7a3918","order":9,"width":0,"height":0,"gtype":"wave","title":"Extraversion","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":460,"wires":[]},{"id":"e199b8e3.466c18","type":"ui_gauge","z":"dc840395.17f17","name":"","group":"9d43e0ab.312b2","order":11,"width":0,"height":0,"gtype":"wave","title":"Agreeableness","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":940,"y":500,"wires":[]},{"id":"462723bf.1449ac","type":"ui_gauge","z":"dc840395.17f17","name":"","group":"fe0198d4.439128","order":13,"width":0,"height":0,"gtype":"wave","title":"Emotional range","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":940,"y":540,"wires":[]},{"id":"e449b288.0aaa7","type":"function","z":"dc840395.17f17","name":"","func":"var m = msg.payload.needs[0].raw_score\nm = m*100\nmsg.payload = m\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":620,"wires":[["62688417.40025c"]]},{"id":"55f979ef.d97a38","type":"function","z":"dc840395.17f17","name":"","func":"var m = msg.payload.needs[1].raw_score\nm = m*100\nmsg.payload = m\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":660,"wires":[["cc255a75.554c78"]]},{"id":"a5345629.6456b8","type":"function","z":"dc840395.17f17","name":"","func":"var m = msg.payload.needs[2].raw_score\nm = m*100\nmsg.payload = m\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":700,"wires":[["b56a3236.9a0c5"]]},{"id":"a11bf2e5.1f0ee","type":"function","z":"dc840395.17f17","name":"","func":"var m = msg.payload.needs[3].raw_score\nm = m*100\nmsg.payload = m\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":740,"wires":[["da6a6346.7004b"]]},{"id":"534edcc.47d6d24","type":"function","z":"dc840395.17f17","name":"","func":"var m = msg.payload.needs[4].raw_score\nm = m*100\nmsg.payload = m\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":780,"wires":[["8a4457ca.fe1db8"]]},{"id":"8dc48e54.49c24","type":"function","z":"dc840395.17f17","name":"","func":"var m = msg.payload.needs[5].raw_score\nm = m*100\nmsg.payload = m\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":820,"wires":[["1a78be95.92cb91"]]},{"id":"b54b807b.c203f","type":"function","z":"dc840395.17f17","name":"","func":"var m = msg.payload.needs[6].raw_score\nm = m*100\nmsg.payload = m\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":860,"wires":[["979cb40f.a88dd8"]]},{"id":"387bd602.b10caa","type":"function","z":"dc840395.17f17","name":"","func":"var m = msg.payload.needs[7].raw_score\nm = m*100\nmsg.payload = m\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":900,"wires":[["dca73ea2.aa3e9"]]},{"id":"f7ecf2f5.c1d74","type":"function","z":"dc840395.17f17","name":"","func":"var m = msg.payload.needs[8].raw_score\nm = m*100\nmsg.payload = m\nreturn msg;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":940,"wires":[["161f6ebb.336401"]]},{"id":"dc63b85.952ac48","type":"function","z":"dc840395.17f17","name":"","func":"var m = msg.payload.needs[9].raw_score\nm = m*100\nmsg.payload = m\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":980,"wires":[["21bfb92.4581a46"]]},{"id":"d8253044.46e31","type":"function","z":"dc840395.17f17","name":"","func":"var m = msg.payload.needs[10].raw_score\nm = m*100\nmsg.payload = m\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1020,"wires":[["917d0c4a.0093c"]]},{"id":"e065ba6b.2d5118","type":"function","z":"dc840395.17f17","name":"","func":"var m = msg.payload.needs[11].raw_score\nm = m*100\nmsg.payload = m\nreturn msg;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1060,"wires":[["b7afa547.9ec528"]]},{"id":"cada73e5.6af13","type":"function","z":"dc840395.17f17","name":"","func":"var m = msg.payload.values[0].percentile\nm = m*100\nmsg.payload = m\nreturn msg;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1140,"wires":[["b815f93d.d670f8"]]},{"id":"567094fa.481f9c","type":"function","z":"dc840395.17f17","name":"","func":"var m = msg.payload.values[1].percentile\nm = m*100\nmsg.payload = m\nreturn msg;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1180,"wires":[["bb62e46.b1e9218"]]},{"id":"153d0114.1a138f","type":"function","z":"dc840395.17f17","name":"","func":"var m = msg.payload.values[2].percentile\nm = m*100\nmsg.payload = m\nreturn msg;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1220,"wires":[["b826d71.3845428"]]},{"id":"78a0e678.620388","type":"function","z":"dc840395.17f17","name":"","func":"var m = msg.payload.values[3].percentile\nm = m*100\nmsg.payload = m\nreturn msg;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1260,"wires":[["de0229bc.8ed2f8"]]},{"id":"6e815a06.ca9604","type":"function","z":"dc840395.17f17","name":"","func":"var m = msg.payload.values[4].percentile\nm = m*100\nmsg.payload = m\nreturn msg;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1300,"wires":[["818eeca8.9bf63"]]},{"id":"9e7c1b11.1cdcb8","type":"ui_gauge","z":"dc840395.17f17","name":"","group":"c73fa91c.387d48","order":7,"width":0,"height":0,"gtype":"wave","title":"Conscientiousness","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":420,"wires":[]},{"id":"62688417.40025c","type":"ui_gauge","z":"dc840395.17f17","name":"","group":"844187e.bae2778","order":0,"width":0,"height":0,"gtype":"wave","title":"Challenge","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":620,"wires":[]},{"id":"cc255a75.554c78","type":"ui_gauge","z":"dc840395.17f17","name":"","group":"29d42141.6e6f0e","order":0,"width":0,"height":0,"gtype":"wave","title":"Closeness","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":660,"wires":[]},{"id":"b56a3236.9a0c5","type":"ui_gauge","z":"dc840395.17f17","name":"","group":"7a4971e7.690b4","order":0,"width":0,"height":0,"gtype":"wave","title":"Curiosity","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":700,"wires":[]},{"id":"da6a6346.7004b","type":"ui_gauge","z":"dc840395.17f17","name":"","group":"77c9b5cc.66c87c","order":0,"width":0,"height":0,"gtype":"wave","title":"Excitement","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":740,"wires":[]},{"id":"8a4457ca.fe1db8","type":"ui_gauge","z":"dc840395.17f17","name":"","group":"3ce43f41.dd43a","order":0,"width":0,"height":0,"gtype":"wave","title":"Harmony","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":780,"wires":[]},{"id":"1a78be95.92cb91","type":"ui_gauge","z":"dc840395.17f17","name":"","group":"55f49141.44b9","order":0,"width":0,"height":0,"gtype":"wave","title":"Ideal","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":820,"wires":[]},{"id":"979cb40f.a88dd8","type":"ui_gauge","z":"dc840395.17f17","name":"","group":"eec5b9a6.4021a8","order":0,"width":0,"height":0,"gtype":"wave","title":"Liberty","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":860,"wires":[]},{"id":"dca73ea2.aa3e9","type":"ui_gauge","z":"dc840395.17f17","name":"","group":"a3cf9a06.68f548","order":0,"width":0,"height":0,"gtype":"wave","title":"Love","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":900,"wires":[]},{"id":"161f6ebb.336401","type":"ui_gauge","z":"dc840395.17f17","name":"","group":"e4abefae.31719","order":0,"width":0,"height":0,"gtype":"wave","title":"Practicality","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":940,"wires":[]},{"id":"21bfb92.4581a46","type":"ui_gauge","z":"dc840395.17f17","name":"","group":"607eb91c.6d30e8","order":0,"width":0,"height":0,"gtype":"wave","title":"Self expression","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":940,"y":980,"wires":[]},{"id":"b7afa547.9ec528","type":"ui_gauge","z":"dc840395.17f17","name":"","group":"4b7bcb01.8ac034","order":0,"width":0,"height":0,"gtype":"wave","title":"Structure","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":1060,"wires":[]},{"id":"917d0c4a.0093c","type":"ui_gauge","z":"dc840395.17f17","name":"","group":"af6d247.5e838d8","order":0,"width":0,"height":0,"gtype":"wave","title":"Stability","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":1020,"wires":[]},{"id":"b815f93d.d670f8","type":"ui_gauge","z":"dc840395.17f17","name":"","group":"68084009.7b3f2","order":0,"width":0,"height":0,"gtype":"wave","title":"Conservation","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":1140,"wires":[]},{"id":"bb62e46.b1e9218","type":"ui_gauge","z":"dc840395.17f17","name":"","group":"16f08514.ef882b","order":0,"width":0,"height":0,"gtype":"wave","title":"Openness to change","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":960,"y":1180,"wires":[]},{"id":"b826d71.3845428","type":"ui_gauge","z":"dc840395.17f17","name":"","group":"b62b5a0b.5463e8","order":0,"width":0,"height":0,"gtype":"wave","title":"Hedonism","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":1220,"wires":[]},{"id":"de0229bc.8ed2f8","type":"ui_gauge","z":"dc840395.17f17","name":"","group":"4fc9cfb5.90aeb","order":0,"width":0,"height":0,"gtype":"wave","title":"Self enhancement","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":1260,"wires":[]},{"id":"818eeca8.9bf63","type":"ui_gauge","z":"dc840395.17f17","name":"","group":"952495b3.ea4ed8","order":0,"width":0,"height":0,"gtype":"wave","title":"Self transcendence","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":1300,"wires":[]},{"id":"b55b67e6.1fd138","type":"ui_form","z":"dc840395.17f17","name":"","label":"","group":"3ff10015.3eeb6","order":3,"width":0,"height":0,"options":[{"label":"Your response :","value":"txt","type":"text","required":true,"rows":null}],"formValue":{"txt":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":140,"wires":[["120d1494.a847cb"]]},{"id":"877e36be.3f4878","type":"function","z":"dc840395.17f17","name":"","func":"msg.payload = {\n    '_id' : msg.payload[0].email , \n    'ans' : msg.payload[0],\n    'per' : msg.payload[1]\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":890,"y":200,"wires":[["bf0b9ded.c14ed","e74099b6.b8bf78"]]},{"id":"4f969449.ffddfc","type":"ui_text","z":"dc840395.17f17","group":"92fd2ad8.043008","order":1,"width":"6","height":"6","name":"","label":"Thank you for applying to this job. Now, enter 'hello' to start the conversation with MOLLY.","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":1340,"wires":[]},{"id":"234b24d2.bee0bc","type":"ui_template","z":"dc840395.17f17","group":"3ff10015.3eeb6","name":"","order":3,"width":"6","height":"1","format":"<html>\n<body>\n\n\n<button onclick=\"myFunction()\">Go to website</button>\n\n<script>\nfunction myFunction() {\n  location.replace(\"http://127.0.0.1:8000/home\")\n}\n</script>\n\n</body>\n</html> \n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":760,"y":1340,"wires":[[]]},{"id":"3ff10015.3eeb6","type":"ui_group","z":"","name":"Exam","tab":"5d5a6aaf.db8664","order":1,"disp":true,"width":"6","collapse":false},{"id":"1991989a.0c79b7","type":"ui_group","z":"","name":"Openness","tab":"d81deaa9.f6ab38","order":1,"disp":true,"width":"6","collapse":false},{"id":"6c566789.7a3918","type":"ui_group","z":"","name":"Extraversion","tab":"d81deaa9.f6ab38","order":3,"disp":true,"width":"6","collapse":false},{"id":"9d43e0ab.312b2","type":"ui_group","z":"","name":"Agreeableness","tab":"d81deaa9.f6ab38","order":4,"disp":true,"width":"6","collapse":false},{"id":"fe0198d4.439128","type":"ui_group","z":"","name":"Emotional range","tab":"d81deaa9.f6ab38","order":5,"disp":true,"width":"6","collapse":false},{"id":"c73fa91c.387d48","type":"ui_group","z":"","name":"Conscientiousness","tab":"d81deaa9.f6ab38","order":2,"disp":true,"width":"6","collapse":false},{"id":"844187e.bae2778","type":"ui_group","z":"","name":"Challenge","tab":"8a38784e.1d9c18","order":1,"disp":true,"width":"6","collapse":false},{"id":"29d42141.6e6f0e","type":"ui_group","z":"","name":"Closeness","tab":"8a38784e.1d9c18","order":2,"disp":true,"width":"6","collapse":false},{"id":"7a4971e7.690b4","type":"ui_group","z":"","name":"Curiosity","tab":"8a38784e.1d9c18","order":3,"disp":true,"width":"6","collapse":false},{"id":"77c9b5cc.66c87c","type":"ui_group","z":"","name":"Excitement","tab":"8a38784e.1d9c18","order":4,"disp":true,"width":"6","collapse":false},{"id":"3ce43f41.dd43a","type":"ui_group","z":"","name":"Harmony","tab":"8a38784e.1d9c18","order":5,"disp":true,"width":"6","collapse":false},{"id":"55f49141.44b9","type":"ui_group","z":"","name":"Ideal","tab":"8a38784e.1d9c18","order":6,"disp":true,"width":"6","collapse":false},{"id":"eec5b9a6.4021a8","type":"ui_group","z":"","name":"Liberty","tab":"8a38784e.1d9c18","order":7,"disp":true,"width":"6","collapse":false},{"id":"a3cf9a06.68f548","type":"ui_group","z":"","name":"Love","tab":"8a38784e.1d9c18","order":8,"disp":true,"width":"6","collapse":false},{"id":"e4abefae.31719","type":"ui_group","z":"","name":"Practicality","tab":"8a38784e.1d9c18","order":9,"disp":true,"width":"6","collapse":false},{"id":"607eb91c.6d30e8","type":"ui_group","z":"","name":"Self_expression","tab":"8a38784e.1d9c18","order":10,"disp":true,"width":"6","collapse":false},{"id":"4b7bcb01.8ac034","type":"ui_group","z":"","name":"Structure","tab":"8a38784e.1d9c18","order":12,"disp":true,"width":"6","collapse":false},{"id":"af6d247.5e838d8","type":"ui_group","z":"","name":"Stability","tab":"8a38784e.1d9c18","order":11,"disp":true,"width":"6","collapse":false},{"id":"68084009.7b3f2","type":"ui_group","z":"","name":"Conservation","tab":"4fbee166.b5ca","order":1,"disp":true,"width":"6","collapse":false},{"id":"16f08514.ef882b","type":"ui_group","z":"","name":"Openness_to_change","tab":"4fbee166.b5ca","order":2,"disp":true,"width":"6","collapse":false},{"id":"b62b5a0b.5463e8","type":"ui_group","z":"","name":"Hedonism","tab":"4fbee166.b5ca","order":3,"disp":true,"width":"6","collapse":false},{"id":"4fc9cfb5.90aeb","type":"ui_group","z":"","name":"Self_enhancement","tab":"4fbee166.b5ca","order":4,"disp":true,"width":"6","collapse":false},{"id":"952495b3.ea4ed8","type":"ui_group","z":"","name":"Self_transcendence","tab":"4fbee166.b5ca","order":5,"disp":true,"width":"6","collapse":false},{"id":"92fd2ad8.043008","type":"ui_group","z":"","name":"Some common rules","tab":"5d5a6aaf.db8664","order":2,"disp":true,"width":"6","collapse":false},{"id":"5d5a6aaf.db8664","type":"ui_tab","z":"","name":"Chat","icon":"dashboard","disabled":false,"hidden":false},{"id":"d81deaa9.f6ab38","type":"ui_tab","z":"","name":"Personality_BIg5","icon":"dashboard","disabled":false,"hidden":false},{"id":"8a38784e.1d9c18","type":"ui_tab","z":"","name":"Needs","icon":"dashboard","disabled":false,"hidden":false},{"id":"4fbee166.b5ca","type":"ui_tab","z":"","name":"Values","icon":"dashboard","disabled":false,"hidden":false}]